/*CSS DEL INDEX*/
header {
	background: rgb(30, 29, 39);
	color: white;
	padding: 1em;
	text-align: center;
}

footer {
	background: rgb(30, 29, 39);
	color: white;
	padding: 1em;
	text-align: center;
	font-size: 15px;
	letter-spacing: 1px;
}

footer a{
	color: white;
}
.menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: rgb(30, 29, 39);
    padding: 20px;
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #273650;
    border-radius: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.desplegable {
	position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 10;
}

.submenu a {
    background-color: white;
    color: #222;
    border-radius: 0;
    padding: 10px 15px;
}

.desplegable:hover .submenu {
    display: block;
}

.submenu a:hover {
    background-color: #eeeeee;
}

/*CSS DE LA TABLA*/
table {
	width: 100%;
	margin: 30px auto;
	border-collapse: collapse;
}

td,th {
	padding: 25px;
	text-align: center;
	border: 1px solid black;
}

thead {
	color: black;
	font-size: 1.2em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1 {
	margin: 0;
	font-size: 22px;
	letter-spacing: 1px;
}

.DAM {
	padding: 8px;
	text-align: center;
	border: 1px solid black;
}

.DIAS {
	padding: 8px;
	text-align: center;
	border: 1px solid black;
}

.RECREO {
	padding: 8px;
	text-align: center;
	border: 1px solid black;
}


.ENT {
	background-color: orange;
}

.DIG {
	background-color: skyblue;
}

.SIS {
	background-color: rosybrown;
}

.LDM {
	background-color: plum;
}

.IPS {
	background-color: peachpuff;
}

.PGR {
	background-color: slateblue;
}

.BDD {
	background-color: lime;
}

.SOS {
	background-color: khaki;
}

.ING {
	background-color: lightcoral;
}

.PIM {
	background-color: limegreen;
}